.content_under_media{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}

@media screen and (max-width: 841px) {
    .content__image{
        width: 200px !important;
        height: 150px !important;
    }

    .content__container {
        position: relative;
        width: 100%;
    }

    .text__container{
        padding-left: 10px !important;
    }
}

.content_above_media{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 35px;
}

.content_left_media{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 35px;
}

.content_right_media{
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}

.content_with_no_media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
}

.content__image{
    width: 500px;
    height: 400px;
}

.text__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}