.cta__outer__container {
    display: flex;
    flex-direction: row;
    background-color: #063948;
    width: 600px;
    height: 250px;
    /*position: absolute;
    top: 30%;
    left: 10%;
    */
}

.header {
    text-align: left;
    padding-left: 20px;
}

.content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}